/* styles.css  tablet responsive*/

@media (max-width: 930px) {
    body {
        font-size: 80%;
    }

    .navbar__content {
        padding: 0 20px;
    }

    .navbar__content img {
        width: 40px;
    }

    .navbar__content ul {
        width: 300px;
    }

    .main-content p:first-child {
        font-size: 24px;
    }

    .main-content h1 {
        font-size: 36px;
    }

    .main-content p:last-child {
        font-size: 14px;
    }

    .footer div img {
        width: 120px;
        bottom: 15px;
    }

    .navbar__content ul li a {
        font-size: 14px !important;
    }
}

@media (min-width: 480px) and (max-width: 930px) {
    .navbar__content {
        padding: 0 10px;
    }

    .navbar__content img {
        width: 30px;
    }

    .navbar__content ul {
        width: 200px;
    }
}

.navbar__content ul li {
    font-size: 14px;
}
