
  /* Estilos específicos para dispositivos móviles */
  
  @media only screen and (max-width: 768px) {
    .main-content {
      width: 100%; /* Ocupa el ancho completo en dispositivos móviles si es necesario */
      height: auto; /* Ajusta según sea necesario */
    }
  
    .main-content div {
      width: 100%; /* Ocupa el ancho completo de los elementos hijos en dispositivos móviles */
      height: auto; /* Ajusta según sea necesario */
    }
  }
  