*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 250%;}

    /* Resetting default styles */
body, ul {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ffcc00;
}
